# Save original prompt once (so direnv can restore it on unload automatically)
if [[ -z "${_ORIG_PROMPT+x}" ]]; then
  export _ORIG_PROMPT="$PROMPT"
fi

export REPO_ROOT="$HOME/personal/kubernetes-style-container-orchestrator-from-scratch"
export PROMPT='%F{green}%n@%m%f:%F{blue}--$(repo_relpath)%f$ '


